body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Footer */

footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #192c46;
    letter-spacing: 0.8px;
    background-color: #fafafa;
}

.logo-tefa{
    width: 230px;
    height: 120px;
}

.kontak{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.our-contact{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Poppins';
}

.our-contact::after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #192c46;
    margin-top: 10px;
}

.contact{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    font-family: 'Poppins';
    font-weight: 400;
}

.social-media{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 10px;
}

[class^="sosmed-"]{
    display: flex;
    flex-flow: row;

    gap: 10px;
}

.address{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-align: center;

    gap: 18px;
}

.copyright{
    margin-top: 100px;
    font-size: 10.2px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
}

/* End */

@media only screen and (min-width: 765px) {
    footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #192c46;
    letter-spacing: 0.8px;
    margin: 0 60px;
}

.con-logs{
    display: flex;
    flex-flow: row;
    gap: 100px;
}

.logo-tefa{
    width: 230px;
    height: 120px;
    margin-top: 40px;
}

.kontak{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.our-contact{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
    font-weight: 700;
}

.our-contact::after{
    content: '';
    width: 519px;
    height: 2px;
    background-color: #192c46;
    margin-top: 10px;
}

.contact{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 50px;
    width: 500px;
    font-size: 13px;
}

.address{
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.address > i{
    margin-top: 2px;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-media{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.copyright{
    margin-top: 100px;
    font-size: 16px;
}
}

@media only screen and (min-width: 765px) and (max-width: 880px) {

    .contact{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        width: 250px;
        font-family: 'Poppins';
        font-weight: 400;
    }

    .our-contact::after{
        content: '';
        width: 260px;
        height: 2px;
        background-color: #192c46;
        margin-top: 10px;
    }

    .address{
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    
        gap: 18px;
    }
}