body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    /* background-color: #49c1cc; */
}

/* div, svg, h1, h5, button, img{
    background-color: #433925;
    border: 1px solid blue; 

}  */

.colored-gradient-text{
    background: linear-gradient(to right, #49c1cc, #0f4ea3 20%);
    color: transparent !important;
    -webkit-background-clip: text;
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header{
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Poppins';
    font-weight: 700;
    color:#192c46;
    text-align: center;
    margin-top: 200px;
}

.desc-main-header{
    text-align: center;
    font-family: "Plus Jakarta Sans";
    color: #707070;
    font-weight: 400;
}

.button-1-button-jelajahi{
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 11px;
    color: #0F4EA3;
    border: 1px solid #0f4ea3;
    width: 200px;
    height: 35px;
    background-color: #fafafa;
    cursor: pointer;
    transition: all 0.5s linear;
}

.button-1-button-jelajahi:hover{
    transition: all 0.5s linear;
    background-color: rgb(221, 221, 221);
}

.button1{
    margin-top: 80px;
    margin-bottom: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pt-1{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.header-2{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 205px;
}

[class^="decoration-polka-"]{
    width: 90px;
    height: 90px;
}

.decoration-polka-1{
    position: absolute;
    left: 0;
    top: 0;
}

.decoration-polka-2{
    position: absolute;
    top: 950px;
    left: 220px;
}

[class^="sub-header"]{
    color: #0f4ea3;
    height: 0;
    font-size: 12px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
}

[class^="pra-header"]{
    height: 0;
    letter-spacing: 2.2px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
}

.desc-1{
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    color: #616161;
    font-size: 12px;
    letter-spacing: 1.1px;
    width: 600px;
    text-align-last: center;
}

/* .header-2 > h3{
    height: 0;
    letter-spacing: 2.2px;
    font-family: 'Poppins';
    font-size: 25px;
} */

.pra-header-2{
    margin-bottom: 65px;
}

.header-3{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    margin-top: 195px;
    margin-bottom: 100px;
}
/* .header-3 > h3{
    height: 0;
    letter-spacing: 1.7px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
} */
.img-storage{
    display: flex;
    justify-content: space-between;
}
.img-group-1{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 25px;
    justify-content: flex-start;
}

.img-group-2{
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    gap: 25px;
    justify-content: flex-end;
}

.image-item{
    width: 48vw;
    height: 100%;
}

.filter1{
    position: absolute;
    background-color: #388bff;
    opacity: 0.5;
    width: 275px;
    height: 180px;
}

.filter2{
    position: absolute;
    right: 0;
    background-color: #388bff;
    opacity: 0.5;
    width: 275px;
    height: 180px;
}

.filter3{
    position: absolute;
    right: 0;
    background-color: #388bff;
    opacity: 0.5;
    width: 275px;
    height: 180px;
}

.filterO{
    position: absolute;
    background-color: #ffaa00;
    opacity: 0.5;
    width: 275px;
    height: 180px;
}

.filterO2{
    position: absolute;
    background-color: #ffaa00;
    opacity: 0.5;
    width: 275px;
    height: 180px;
}

.filterO3{
    position: absolute;
    right: 0;
    background-color: #ffaa00;
    opacity: 0.5;
    width: 275px;
    height: 180px;
}

.header-4{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 110px;
}

[class^="filter"]{
    width: 48.5vw;
    height: 100%;
}

.img-ft-filter{
    position: relative;
    background-color: aqua;
}

.cards-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

[class^="card-item"]{
    display: flex;
    flex-flow: column;
    gap: 20px;
    background-color: #ffffff;
    width: 220px;
    height: 220px;
    box-shadow: 0px 0px 20px rgb(206, 206, 206);
    padding: 32px;
}

[class^="card-header"]{
    color: #0f4ea3;
    font-family: 'Poppins';
    letter-spacing: 0.85px;
    font-weight: 700;
    font-size: 14px;
}

[class^="card-desc"]{
    color: #616161;
    font-family: 'Poppins';
    line-height: 14px;
    font-weight: 100;
    font-size: 11px;
}

[class^="card-logo"]{
    width: 58px;
    height: 58px;
}

.card-logo-1 > svg{
    width: 34px;
    height: 34px;
}

.card-logo-1{
    background: linear-gradient(to bottom, #f8f8f8, #ffffff);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-5{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 110px;
}

.prot-img{
    width: 200px;
    height: 200px;
}

[class^="jurusan"]{
    display: flex;
    flex-flow: row;
    gap: 70px;
}

.jurusan{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
}


.jurusan-flip-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 80px;
}

.header-jurusan-tjkt{
    width: 200px;
}

[class^="img-jurusan-"]{
    width: 300px;
    height: 300px;
}

[class^="number-jurusan"]{
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Poppins';
    color: rgb(220, 220, 220);
}

[class^="header-jurusan"]{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: 'Poppins';
    color: rgb(0, 0, 0);
}

[class^="list-par-jurusan"]{
    display: flex;
    flex-flow: column;
    padding-left: 15px;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-family: 'Poppins';
    gap: 10px;
    color: #616161;
}


[class^="description"]{
    display: flex;
    flex-flow: column;

}

[class^="more"]{
    color: gold;
    border: 2px solid gold;
    padding: 7px;
    width: 150px;
    font-family: 'Poppins';
}

.p965-cards-container{
    display: none;
}

.jurusan-par{
    display: flex;
    flex-flow: column;
    margin: 0px 15%;
    position: relative;
}

.header-6{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 110px;
}

.comments-par{
    display: flex;
    flex-flow: row;
}

.comments{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden; 
    margin-bottom: 200px;
    /* background-color: #ffaa00; */
} 

[class^="comment-"]{
    position: absolute;
    transform: translateX(calc(450px * var(--i) + var(--r)));
    width: 390px;
    height: 160px;
    background-color: #ffffff;
    box-shadow: 0px 2px 40px 0px #0000000D;
    font-family: 'Poppins';
    display: flex;
    flex-flow: column;
    padding: 30px;
    overflow: hidden;
}

[class^="profile-image"]{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

[class^="star-name"]{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

[class^="img-rank-name"]{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    gap: 10px;
}

[class^="rank"]{
    font-size: 13px;
    letter-spacing: 0.9px;
    color: gray;
}

[class^="the-comment"]{
        font-family: 'Plus Jakarta Sans';
        font-weight: 500;
        font-size: 13.5px;
        line-height: 1.5;
        color: #616161;
        margin-top: 25px;
}

[class^="long-name"]{
    font-size: 20px;
}

.left-move{
    background: linear-gradient(to bottom, rgb(88, 16, 16), rgb(255, 0, 128));
    color: transparent !important;
    -webkit-background-clip: text;
    text-shadow:
    0px 0px 20px rgb(255, 40, 115),
    0px 0px 40px rgb(255, 40, 115),
    0px 0px 60px rgb(255, 40, 115),
    0px 0px 80px rgb(255, 40, 115),
    0px 0px 120px rgb(255, 40, 115)
     ;
     
    font-family: 'Poppins';
    font-weight: 900;
    cursor: pointer;
    border: none;
    opacity: 0.1;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 5%;
    transition: all 1s linear;
    z-index: 5;
}

.left-move:hover{
    transition: all 0.5s linear;
    opacity: 0.8;
}


.right-move{
    background: linear-gradient(to bottom, rgb(70, 2, 255), rgb(0, 217, 255));
    color: transparent !important;
    -webkit-background-clip: text;
    text-shadow:
    0px 0px 20px rgb(0, 255, 234),
    0px 0px 40px rgb(0, 255, 234),
    0px 0px 60px rgb(0, 255, 234),
    0px 0px 80px rgb(0, 255, 234),
    0px 0px 120px rgb(0, 255, 234)
     ;
    font-family: 'Poppins';
    font-weight: 900;
    border: none;
    cursor: pointer;
    opacity: 0.1;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    right: 5%;
    z-index: 5;
}

.right-move:hover{
    transition: all 0.5s linear;
    background-color: #111d2e;
    opacity: 0.8;
}

.make-comment{
    position: absolute;
    top: 0;
    z-index: 5;
}



/* CSS Teleport */

@media only screen and (min-width:965px) {
    [class^="filter"]{
    width: 48vw;
    height: 100%;
    }

    .image-item{
    width: 48vw !important;
    height: 100% !important;
    }

}

@media only screen and (max-width:768px) {
    .desc-1{
        width: 450px;
    }
}

@media only screen and (min-width:700px) {

    [class^="sub-header-"]{
        font-size: 17px;
    }

    [class^="pra-header-"]{
        font-size: 29px;
    }

    .desc-1{
        font-size: 12px;
        letter-spacing: 1.1px;
    }

    h1{font-size: 50px;}

    .desc-main-header{
        font-size: 16px;
    }

}

@media only screen and (max-width:968px) {
    [class^="filter"]{
    width: 48vw;
    height: 100%;
    }

    .image-item{
    width: 48vw !important;
    height: 100% !important;
    }

    .cards-container{
    display: none;
    }   

    .p965-cards-container{
    display: grid;
    padding: 0px 10%;
    row-gap: 20%;
    column-gap: 10%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    }

    [class^="p965-card-item"]{
        width: 220px;
        height: 250px;
        box-shadow: 0px 0px 20px rgb(206, 206, 206);
        gap: 20px;
        background-color: #ffffff;
        padding: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-self: center;
        text-align: center;
    }

    .p965-card-item-3{
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 90% !important;
        height: 200px;
    }

    [class^="p965-card-header"]{
    color: #0f4ea3;
    font-family: 'Poppins';
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    }

    [class^="p965-card-desc"]{
        color: #616161;
        font-family: 'Poppins';
        font-size: 13px;
    }

    [class^="p965-card-logo"]{
        width: 58px;
        height: 58px;
    }

    .p965-card-logo-1 > svg{
        width: 32px;
        height: 32px;
    }
    
    .p965-card-logo-1{
        background: linear-gradient(to bottom, #f8f8f8, #ffffff);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width:700px) {
    .p965-cards-container{
    display: none;
    }   

    .cards-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    }

    [class^="card-item"]{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    gap: 20px;
    background-color: #ffffff;
    width: 70%;
    height: 220px;
    box-shadow: 0px 0px 20px rgb(206, 206, 206);
    padding: 32px;
    }

    [class^="jurusan"]{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    }

    .jurusan-par{
        display: flex;
        flex-flow: column;
        margin: 0px 5%;
    }

    [class^="header-jurusan"]{
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-family: 'Poppins';
        color: rgb(0, 0, 0);
    }

    [class^="description"]{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center ;
        gap: 50px;
        padding: 0 10px;
    }


    .jurusan-flip-1{
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pra-header-2{
        margin-bottom: 30px;
    }

    .decoration-polka-2{
        position: absolute;
        top: 1620px;
        left: 20px;
    }

}

@media only screen and (max-width:500px) {

    [class^="comment-"]{
        width: 80%;
    }

    h1{
        margin-top: 120px;
    }

    .star-name{
        position: relative;
    }

    .star{
        position: absolute;
        display: flex;
        flex-flow: column;
        gap: 20px;
        font-size: 17px;
        right: 0;
    }

    .long-name{
        font-size: 15px;
    }

    
    .rank{
        font-size: 10px;
    }

    [class^="profile-image"]{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .desc-1{
        width: 300px;
    }

    [class^="the-comment"]{
        margin-top: 15px;
        width: 90%;
        font-size: 12.5px;
        /* position: absolute; */
    }

}

@media only screen and (max-width:375px) {
    [class^="pra-header"]{
        letter-spacing: 0.6px ;
    }
}
